.Service-Section{
    padding-block-start:3rem;
}

.Our-Service{
    position:relative;
    width:fit-content;
}

.Our-Service::after{
    content:"";
    position:absolute;
    width:70px;
    height:0.2rem;
    transform:translateY(0.3rem);
    background-color:var(--secondary);
    display:flex;
}