.TeamImage-Container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  overflow-x: clip;
}

.TeamImage-Container .TeamImage {
  max-width: 700px;
  height: auto;
  position: absolute;
  right: -14.5rem;
  top: -13rem;
  z-index: 0;
  filter: brightness(0.7);
}

h1 {
  z-index: 1;
  font-size: 3.3rem;
  background: linear-gradient(90deg, #c084fc, #22d3ee);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 750px;
}

h3 {
  padding-block-start: 2rem;
  letter-spacing: 0.2px;
  font-weight: lighter;
  color: var(--text-gray);
  max-width: 600px;
}

.ContactUs {
  padding-block-start: 2rem;
  width: fit-content;
}
button{
  width: 10rem;
  height: 3rem;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.ContactUs button a{
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-decoration:none;
}
button:hover {
  background-color: var(--primary-light);
  transition: all 0.3s;
}
/* Define Images */

@media (max-width:1150px){
  .TeamImage{
    width:600px;
    padding-block-start:4rem;
  }
}
@media (max-width: 915px) {
  .TeamImage {
    display: none;
  }
}
@media (max-width:770px){
  .Section{
    padding-block-start:1.8rem;
  }
}

@media (max-width: 520px) {
  h1 {
    font-size: 2.3rem;
  }
}
@media (max-width: 421px) {
  h1 {
    font-size: 1.5rem;
  }
}
