.aside{
    position:fixed;
    top:4rem;
    left:0rem;
    position:fixed;
    width:230px;
    height:100vh;
    background-color:var(--dark);
    padding:30px 14px 30px 14px;
    z-index:1000;
}
.logo2{
    font-size: 1.8rem;
	font-weight: 700;
	color: var(--primary-light);
    text-decoration:none;
}

.SideBar-Component{
    display:flex;
    flex-direction:column;
}
.SideBar-Component nav{
    display:flex;
    justify-content:flex-end;
    padding-block-start:1rem;
}

.SideBar-Component  a{
    display:flex;
}

.LanguageSwitcher{
    padding-block-start:1rem;
    display: flex;
}


.LanguageSwitcher button{
    background-color:transparent;
}

.LanguageSwitcher button:hover{
    color:var(--secondary);
}


/* 800 პიქსელს რო აცდება უკვე უნდა გაითიშოს, დაროცა ჩამოცდება იგივე ლოგიკა გაგრძელდეს */
@media (min-width: 800px) {
    .aside {
       display: none !important;
    }
 }

.hide{
    display:none;
}
.show{
    display:block;
}



