.Footer {
  position: static;
  bottom: 0;
  left: 0;
  margin-block-start: 5rem;
  background-color: var(--gray-dark);
  height: 8.3rem;
  border-radius: 5px;
}

.Footer-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 100%;
  margin-inline: auto;
  padding-inline: 6rem;
}

.Social-Contact-Links {
  display: flex;
  flex-direction: column;
  padding-inline-start: 5rem;
}

.Social-Contact-Links p {
  font-size: 1.1rem;
  color: var(--secondary);
  font-weight: bold;
  padding-block-start: 0.3rem;
}

.Social-Contact-Links a {
  text-decoration: none;
  color: var(--white);
  padding: 0.2rem;
}

.Social-Contact-Email {
  display: flex;
  flex-direction: column;
}

.Social-Contact-Email p {
  color: var(--secondary);
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  padding-inline-start: 5rem;
}

.Social-Contact-Email a {
  padding: 1rem;
  text-decoration: none;
  color: var(--white);
  padding-inline-start: 5rem;
}

.ContactEmail {
  position: relative;
}
.ContactEmail::after {
  content: "";
  position: absolute;
  display: flex;
  top: 2.5rem;
  width: 50px;
  height: 0.2rem;
  background-color: var(--white);
}

.FacebookIcon {
  color: #1877f2;
  transform: translateX(-0.4rem) translateY(0.2rem);
}
.InstagramIcon {
  color: #1877f2;
  transform: translateX(-0.3rem) translateY(0.3rem);
}




@media (max-width: 760px) {
  .Social-Contact-Links p {
    font-size: 0.8rem;
  }
  .Social-Contact-Links .InstagramIcon {
    display: none;
  }
  .Social-Contact-Links .FacebookIcon {
    display: none;
  }
}

@media (max-width:465px){
  .Social-Contact-Email{
   max-width:10rem;
  }
  .Social-Contact-Links p{
    width:max-content;
  }
  .Social-Contact-Email p{
    width:max-content;
  }
  .Footer-Container{
    display:flex;
    justify-content:flex-end;
  }
  .Footer-PersonalData{
    display:none;
  }
}
