.Footer{
    margin-block-start:5rem;
    background-color:var(--gray-dark);
    height:7rem;
    border-radius:5px;
    max-width:1200px;
}

.Footer-Container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px,1fr));
    padding-inline:3rem;
    height:100%;
}



.Footer-PersonalData{
    display:flex;
    align-items:center;
    width:max-content;
}
.Social-Contact-Email{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.Social-Contact-Links{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content:center;
}



.Social-Contact-Email p{
    color:var(--secondary);
    font-weight:bold;
    position:relative;
    letter-spacing:0.5px;
    font-size:1.1rem;
    transform:translateX(-0.8rem) translateY(-0.2rem);
}

.Social-Contact-Email a{
    padding:1rem;
    text-decoration:none;
    color:var(--white);
}

.ContactEmail{
    position:relative;
}
.ContactEmail::after{
    content: "";
    position:absolute;
    display:flex;
    top:2.5rem;
    height:auto;
    width:50px;
    height:0.2rem;
    background-color:var(--white);
}

.Social-Contact-Links p{
    font-size:1.1rem;
    color:var(--secondary);
    font-weight:bold;
    padding-block-start:0.3rem;
}

.Social-Contact-Links a{
    text-decoration:none;
    color:var(--white);
    padding:0.2rem;
}

.FacebookIcon{
    color:#1877F2;
    transform:translateX(-0.4rem) translateY(0.2rem);
}
.InstagramIcon{
    color:#1877F2;
    transform:translateX(-0.3rem) translateY(0.3rem);
}




